[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pycairo = "*"
pygobject = "*"
openrgb-python = {git = "https://github.com/jath03/openrgb-python"}

[requires]
python_version = "3.8"
